* {
box-sizing: border-box;
margin: 0px;
padding: 0;
border: solid 1px black;
background-color: grey;
text-align: center;
font-size: 1.1em;
}

.boilerplate {
width: 100%;
}

ul {
list-style-type: none;
}

.logo--header {
width: 100%;
height: 5vh;
padding: 8px;
}

.nav--links {
display: flex;
justify-content: space-evenly;
height: 10vw;
align-items: center;
}

.head--banner {
height: 10vh;
text-align: center;
}

.side--bar {
display: table-cell;
width: 35%;
vertical-align: top;
height: 70vh;
}

.body--container {
display: table-cell;
width: 85%;
vertical-align: top;
}

.main--content {
display: table;
width: 100%;
height: 100%;
}